<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzm.dao.base.PurchaseRecordBaseMapper">


    <insert id="insertPurchaseRecord" >
        INSERT INTO `purchase_record`
        (
        <trim suffixOverrides=",">
                    <if test="id!=null">
                        `id`,
                    </if>
                    <if test="merchandiseId!=null">
                        `merchandise_id`,
                    </if>
                    <if test="date!=null">
                        `date`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="id!=null">
                    #{id},
                </if>
                <if test="merchandiseId!=null">
                    #{merchandiseId},
                </if>
                <if test="date!=null">
                    #{date},
                </if>
        </trim>
        )
    </insert>




    <update id="updatePurchaseRecord">
        UPDATE `purchase_record`
        SET
        <trim suffixOverrides=",">
            <if test="merchandiseId != null">
                `merchandise_id` = #{merchandiseId},
            </if>
            <if test="date != null">
                `date` = #{date},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `id` = #{id} and
        </trim>
    </update>

    <update id="update">
        UPDATE `purchase_record`
        SET
        <trim suffixOverrides=",">
        <if test="set.merchandiseId != null">
            `merchandise_id` = #{set.merchandiseId},
        </if>
        <if test="set.date != null">
            `date` = #{set.date},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.idList != null">
                    `id` in
                    <foreach collection="where.idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.idSt !=null">
                `id` >= #{where.idSt} and
            </if>
            <if test="where.idEd!=null">
                `id` &lt;= #{where.idEd} and
            </if>
                <if test="where.merchandiseIdList != null">
                    `merchandise_id` in
                    <foreach collection="where.merchandiseIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.merchandiseIdSt !=null">
                `merchandise_id` >= #{where.merchandiseIdSt} and
            </if>
            <if test="where.merchandiseIdEd!=null">
                `merchandise_id` &lt;= #{where.merchandiseIdEd} and
            </if>
                <if test="where.dateList != null">
                    `date` in
                    <foreach collection="where.dateList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.dateSt !=null">
                `date` >= #{where.dateSt} and
            </if>
            <if test="where.dateEd!=null">
                `date` &lt;= #{where.dateEd} and
            </if>
        </trim>
    </update>


    <resultMap type="com.jzm.model.PurchaseRecord" id="PurchaseRecordMap">
        <result property="id" column="id"/>
        <result property="merchandiseId" column="merchandise_id"/>
        <result property="date" column="date"/>
    </resultMap>


    <select id="queryPurchaseRecord" resultMap="PurchaseRecordMap">
        select
        <include refid="baseResult"></include>
        from  `purchase_record`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="merchandiseId != null">
                `merchandise_id` = #{merchandiseId} and
            </if>
            <if test="date != null">
                `date` = #{date} and
            </if>
            <if test = "(_parameter instanceof com.jzm.model.PurchaseRecord$QueryBuilder) == true">
                <if test="idList != null">
                    `id` in
                    <foreach collection="idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                <if test="merchandiseIdList != null">
                    `merchandise_id` in
                    <foreach collection="merchandiseIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="merchandiseIdSt !=null">
                    `merchandise_id` >= #{merchandiseIdSt} and
                </if>
                <if test="merchandiseIdEd!=null">
                    `merchandise_id` &lt;= #{merchandiseIdEd} and
                </if>
                <if test="dateList != null">
                    `date` in
                    <foreach collection="dateList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="dateSt !=null">
                    `date` >= #{dateSt} and
                </if>
                <if test="dateEd!=null">
                    `date` &lt;= #{dateEd} and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryPurchaseRecordLimit1" resultMap="PurchaseRecordMap">
        select
        <include refid="baseResult"></include>
        from  `purchase_record`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="merchandiseId != null">
                `merchandise_id` = #{merchandiseId} and
            </if>
            <if test="date != null">
                `date` = #{date} and
            </if>
            <if test = "(_parameter instanceof com.jzm.model.PurchaseRecord$QueryBuilder) == true">
                    <if test="idList != null">
                        `id` in
                        <foreach collection="idList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                    <if test="merchandiseIdList != null">
                        `merchandise_id` in
                        <foreach collection="merchandiseIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="merchandiseIdSt !=null">
                    `merchandise_id` >= #{merchandiseIdSt} and
                </if>
                <if test="merchandiseIdEd!=null">
                    `merchandise_id` &lt;= #{merchandiseIdEd} and
                </if>
                    <if test="dateList != null">
                        `date` in
                        <foreach collection="dateList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="dateSt !=null">
                    `date` >= #{dateSt} and
                </if>
                <if test="dateEd!=null">
                    `date` &lt;= #{dateEd} and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `id`,
        `merchandise_id`,
        `date`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.jzm.model.PurchaseRecord$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.id==true">
                        `id`,
                    </if>
                    <if test="fetchFields.fetchFields.merchandiseId==true">
                        `merchandise_id`,
                    </if>
                    <if test="fetchFields.fetchFields.date==true">
                        `date`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.id==null">
                        `id`,
                    </if>
                    <if test="fetchFields.excludeFields.merchandiseId==null">
                        `merchandise_id`,
                    </if>
                    <if test="fetchFields.excludeFields.date==null">
                        `date`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.jzm.model.PurchaseRecord$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>