<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzm.dao.base.SalesRecordBaseMapper">


    <insert id="insertSalesRecord" >
        INSERT INTO `sales_record`
        (
        <trim suffixOverrides=",">
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
        </trim>
        )
    </insert>




    <update id="updateSalesRecord">
        UPDATE `sales_record`
        SET
        <trim suffixOverrides=",">
        </trim>
        WHERE
        <trim suffixOverrides="and">
        </trim>
    </update>

    <update id="update">
        UPDATE `sales_record`
        SET
        <trim suffixOverrides=",">
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
        </trim>
    </update>


    <resultMap type="com.jzm.model.SalesRecord" id="SalesRecordMap">
    </resultMap>


    <select id="querySalesRecord" resultMap="SalesRecordMap">
        select
        <include refid="baseResult"></include>
        from  `sales_record`
        <trim prefix="where" suffixOverrides="and | or">
            <if test = "(_parameter instanceof com.jzm.model.SalesRecord$QueryBuilder) == true">
            </if>
        </trim>
    </select>

    <select id="querySalesRecordLimit1" resultMap="SalesRecordMap">
        select
        <include refid="baseResult"></include>
        from  `sales_record`
        <trim prefix="where" suffixOverrides="and | or">
            <if test = "(_parameter instanceof com.jzm.model.SalesRecord$QueryBuilder) == true">
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.jzm.model.SalesRecord$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.jzm.model.SalesRecord$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>